<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.perfectface">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
 Limits app visibility in the Google Play Store to ARCore supported devices
         (https://developers.google.com/ar/discover/supported-devices).
    -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/image1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/image1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Module.editactivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Module.Galleryacces"
            android:screenOrientation="portrait"/>
        <activity android:name=".Module.Cameralens"
            android:screenOrientation="portrait"/>
        <activity android:name=".Module.dashbord"
            android:screenOrientation="portrait"/>
        <activity android:name=".Controller.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>